body{
    height: 700px;
    width: 100%;
    background-color: #dddbd1;
}

.pai{
    display: flex;
    justify-content: center;
}
.faixa-verde{
    background-color: #009688;
    width: 100%;
    height: 127px;
}

.bloco-central{
    width: 60%;
    height: 610px;
    margin: auto;
    margin-top: -50px;
    background-color: #f8f9fa;
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.452) ;
}

.lado-esquerdo{
    width: 30%;
    height: 100%;
    float: left;
    /* overflow-y: scroll; */
}

.lado-direito{
    width: 70%;
    height: 100%;
    float: left;
    background-color: rebeccapurple;
}

.lista-personalizada li{
    padding: 15px;
}

.imagem-pessoa{
    width: 45px;
    height: 45px;
    border-radius: 25px;
}

.cor-cinza1{
    background-color: #ededed;
}

.cor-cinza2{
    background-color: #f6f6f6;
}

.icon-sp{
    width: 20px;
    height: 20px;
    margin: 10px;
    float: right;
}

.input-search{
    width: 100%;
    border: none;
    padding: 10px;
}

.lista-conversas li{
    overflow: hidden;
    background-color: #fff;
    border-top: 1px solid #ece9e9;
}

.lista-conversas li .bloco-lateral{
    width: 45px;
    float: left;
    font-size: 1.5vh;
    text-align: right;
}

.horario{
    padding-top: 10px;
}

.lista-conversas li .bloco-conversa{
    width: calc(100% -105px);
    float: left;
    font-size: 1rem;
    line-height: 0.9;
    padding-top: 6px;
    padding-left: 15px;
}




@media (max-width:375px){
    .lado-direito{
        display: none;
    }
    .bloco-central{
        display: flex;
    }
    .lista-personalizada li{
        display: flex;
    }
}